<h4>質問</h4>
<p>ユーザにより登録された質問のリストです。Voteの数でソートされます。
  <%= link_to '質問を投稿', new_question_path %>から新しい質問を登録できます。</p>

<% @questions.each do |question| %>
  <div class="card" style="margin-bottom: 20px">
    <div class="card-body">
      <h4 class="card-title">#<span><%= question.id %></span> <span><%= question.title %></span></h4>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= question.votes.count %> 票。投稿者：<strong><%= question.author %></strong>。
        投稿日時：<em><%= question.created_at.to_s(:published_on) %></em>
      </h6>
      <% if !@votes.include?(question.id) %>
        <%= link_to question_vote_path(:id => question.id),
                    :class => 'btn btn-primary float-right',
                    :id => "vote-#{question.id}",
                  'aria-label' => "Vote up" do %>
          <span class="fa fa-chevron-up" aria-hidden="true"></span> 投票</a>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @questions.blank? %>
<div class="alert alert-primary" role="alert">
  まだ質問がありません。質問を<%= link_to '投稿しますか', new_question_path %>?</div>
<% end %>